
$white: #FBFFFC;
$black: #0F181E;
$primary: #00DF7B;
$secondary: #D9EDDF;
$success: #00657C;
$warning: #F18924;
$light: #D9EDDF;
$enable-shadows: true;
$enable-gradients: true;
$dark: #0F181E;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.05rem;
$headings-font-family: "League Gothic";
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2.25;
$input-btn-padding-y: 0.6rem;
